# Example 6.7

The data in the figure below shows a set of triaxial tests conducted on sand (Riman et al. 2014). Find the peak friction angle, secant friction angles, and friction angle when  $\varepsilon_a=10\%$

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
peak_data=pd.read_csv('./data/Default Dataset.csv')
peak_data

         ea          sd   s3
0  5.042406  522.315790  200
1  4.055513  392.631579  150
2  4.302236  247.789474  100

In [16]:
peak_data['sm']=0.5*(peak_data['sd']+2*peak_data['s3'])

model=np.polyfit(peak_data['sm'],0.5*peak_data['sd'], 1)

model

array([ 0.57867037, -5.15130718])

In [17]:
phi=np.arcsin(model[0])*180/np.pi
phi

35.35707757059528

In [6]:
data_10=pd.read_csv('./data/10.csv')
data_10

          ea          sd   s3
0   9.992290  244.000000  100
1  10.053971  364.000000  150
2  10.007710  486.105263  200

In [18]:
data_10['sm']=0.5*(data_10['sd']+2*data_10['s3'])

model=np.polyfit(data_10['sm'], 0.5*data_10['sd'], 1)

model

array([0.54762247, 0.34806992])

In [19]:
phi=np.arcsin(model[0])*180/np.pi
phi

33.204056675406854